definitions:
  dto.SignupDTO:
    properties:
      email:
        type: string
      name:
        minLength: 10
        type: string
      password:
        minLength: 10
        type: string
    required:
    - email
    - name
    - password
    type: object
  dto.TagDTO:
    properties:
      cover:
        description: 封面 配图 图片连接地址
        type: string
      createdby:
        description: 创建者
        type: string
      description:
        description: tag 描述
        type: string
      name:
        description: tag 名称
        type: string
    required:
    - cover
    - createdby
    - description
    - name
    type: object
  dto.TagFollowDTO:
    properties:
      tagid:
        type: string
    required:
    - tagid
    type: object
host: localhost:8080
info:
  contact: {}
  description: this is about novel swagger API
  title: Cabbage server API
  version: "1.0"
paths:
  /v1/api/tag/create:
    post:
      consumes:
      - application/json
      description: 创建新话题标签
      parameters:
      - description: topic
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.TagDTO'
      responses: {}
      summary: create new topic
      tags:
      - topic
  /v1/api/tag/hide:
    get:
      consumes:
      - application/json
      description: 隐藏话题标签
      parameters:
      - in: query
        name: tagid
        required: true
        type: string
      responses: {}
      summary: hide tag
      tags:
      - topic
  /v1/api/tag/list:
    get:
      consumes:
      - application/json
      description: 获取话题列表
      responses: {}
      summary: get topic
      tags:
      - topic
  /v1/api/user/create:
    post:
      consumes:
      - application/json
      description: 创建新用户
      parameters:
      - description: admin account
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.SignupDTO'
      responses: {}
      summary: Create user
      tags:
      - user
  /v1/api/user/profile:
    get:
      consumes:
      - application/json
      description: 获取用户信息
      parameters:
      - in: query
        name: email
        required: true
        type: string
      responses: {}
      summary: get user profile
      tags:
      - user
swagger: "2.0"
