definitions:
  dto.AddPlatformDTO:
    properties:
      name:
        items:
          type: string
        type: array
    required:
    - name
    type: object
  dto.CommentDTO:
    properties:
      content:
        minLength: 1
        type: string
      post:
        type: integer
    required:
    - content
    - post
    type: object
  dto.CommentOperatorDTO:
    properties:
      cid:
        type: integer
      op:
        enum:
        - 1
        - 2
        - 4
        - 8
        - 16
        type: integer
    required:
    - cid
    - op
    type: object
  dto.LoginDTO:
    properties:
      email:
        type: string
      key:
        type: string
      password:
        minLength: 10
        type: string
    required:
    - email
    - key
    - password
    type: object
  dto.SignupDTO:
    properties:
      email:
        type: string
      name:
        minLength: 4
        type: string
      password:
        minLength: 10
        type: string
    required:
    - email
    - name
    - password
    type: object
  dto.TagDTO:
    properties:
      cover:
        description: 封面 配图 图片连接地址
        type: string
      createdby:
        description: 创建者
        type: string
      description:
        description: tag 描述
        type: string
      name:
        description: tag 名称
        type: string
    required:
    - cover
    - createdby
    - description
    - name
    type: object
  dto.TagFollowDTO:
    properties:
      tagid:
        type: string
    required:
    - tagid
    type: object
host: localhost:8080
info:
  contact: {}
  description: this is about novel swagger API
  title: Cabbage server API
  version: "1.0"
paths:
  /v1/api/admin/profile/platform/add:
    post:
      consumes:
      - application/json
      description: 添加新的社交平台
      parameters:
      - description: platforms
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.AddPlatformDTO'
      responses: {}
      summary: create new social platform
      tags:
      - admin
  /v1/api/admin/profile/platform/all:
    get:
      consumes:
      - application/json
      description: 查看所有社交平台
      responses: {}
      summary: get all social platform
      tags:
      - admin
  /v1/api/admin/stat/count:
    get:
      consumes:
      - application/json
      description: 统计平台信息 今日新增贴子数 评论数 用户数  当月新增用户数 评论数 用户数
      parameters:
      - enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
        - 8
        - 9
        - 10
        - 11
        - 12
        in: query
        name: month
        required: true
        type: integer
      responses: {}
      summary: get stat data
      tags:
      - admin
  /v1/api/bio/{name}:
    get:
      consumes:
      - application/json
      description: 个人主页分享
      parameters:
      - description: the user name
        in: path
        name: name
        required: true
        type: string
      responses: {}
      summary: profile share
      tags:
      - post
  /v1/api/comment/create:
    post:
      consumes:
      - application/json
      description: 创建评论
      parameters:
      - description: comment content
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.CommentDTO'
      responses: {}
      summary: create comment
      tags:
      - comment
  /v1/api/comment/del:
    delete:
      consumes:
      - application/json
      description: 删除评论
      responses: {}
      summary: comment delete
      tags:
      - comment
  /v1/api/comment/operater:
    post:
      consumes:
      - application/json
      description: 操作评论(赞,踩,收藏,分享)
      parameters:
      - description: operator code
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.CommentOperatorDTO'
      responses: {}
      summary: comment operator
      tags:
      - comment
  /v1/api/comment/reply:
    post:
      consumes:
      - application/json
      description: 回复评论
      responses: {}
      summary: reply comment
      tags:
      - comment
  /v1/api/comment/view:
    get:
      consumes:
      - application/json
      description: 查看评论
      responses: {}
      summary: get comment
      tags:
      - comment
  /v1/api/post/create:
    post:
      consumes:
      - application/json
      description: 发帖
      responses: {}
      summary: create post
      tags:
      - post
  /v1/api/post/del:
    delete:
      consumes:
      - application/json
      description: 删除帖子
      responses: {}
      summary: operator post
      tags:
      - post
  /v1/api/post/operater:
    post:
      consumes:
      - application/json
      description: 操作帖子 赞 踩 收藏
      responses: {}
      summary: operator post
      tags:
      - post
  /v1/api/post/search:
    get:
      consumes:
      - application/json
      description: 搜索帖子、文章
      responses: {}
      summary: search post
      tags:
      - post
  /v1/api/tag/follow:
    post:
      consumes:
      - application/json
      description: 关注话题
      parameters:
      - description: topic
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.TagFollowDTO'
      responses: {}
      summary: follow tag
      tags:
      - topic
  /v1/api/tag/hide:
    get:
      consumes:
      - application/json
      description: 隐藏话题标签
      parameters:
      - in: query
        name: tagid
        required: true
        type: string
      responses: {}
      summary: hide tag
      tags:
      - topic
  /v1/api/tag/list:
    get:
      consumes:
      - application/json
      description: 获取话题列表
      responses: {}
      summary: get topic
      tags:
      - topic
  /v1/api/tag/new:
    post:
      consumes:
      - application/json
      description: 创建新话题标签
      parameters:
      - description: topic
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.TagDTO'
      responses: {}
      summary: create new topic
      tags:
      - topic
  /v1/api/user/create:
    post:
      consumes:
      - application/json
      description: 创建新用户
      parameters:
      - description: admin account
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.SignupDTO'
      responses: {}
      summary: Create user
      tags:
      - user
  /v1/api/user/login:
    post:
      consumes:
      - application/json
      description: 用户登录
      parameters:
      - description: the user account
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/dto.LoginDTO'
      responses: {}
      summary: user login
      tags:
      - user
  /v1/api/user/name/check:
    get:
      consumes:
      - application/json
      description: 检查昵称
      parameters:
      - in: query
        minLength: 4
        name: name
        required: true
        type: string
      responses: {}
      summary: check user name
      tags:
      - user
  /v1/api/user/profile:
    get:
      consumes:
      - application/json
      description: 获取用户信息
      parameters:
      - in: query
        name: email
        required: true
        type: string
      responses: {}
      summary: get user profile
      tags:
      - user
swagger: "2.0"
